body {
  background: #E7EAEC;
  color: $black;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagination {
  margin: 0;
}

abbr[title] { border-bottom: 0px; cursor: text; }

.topics .topic {
  border-bottom: 1px solid #F0F0F0;
}

.select_node {
    float: left;
    width: 200px;
    margin-right: 10px;
}

.topic_title {
    width: 880px;
}