<div class="row">
  <div class="col-md-9">
    <div class="topics panel panel-default">
        <div class="panel-body">
          <table>
            <% cache(['topics', @topics]) do %>
              <%= render @topics %>
            <% end %>
        </div>
        <div class="panel-footer clearfix">
          <%= will_paginate @topics %>
        </div>
    </div>
  </div>
</div>