<div class="row">
  <div class="col-md-9">
    <div class="pictures panel panel-default">
        <div class="panel-body">
          <table>
            <% cache(['pictures', @pictures]) do %>
              <%= render @pictures %>
            <% end %>
        </div>
        <div class="panel-footer clearfix">
          <%= will_paginate @pictures %>
        </div>
    </div>
  </div>
</div>